<div class="centered">
  <div class="container">

    <form class="form-signin" ng-submit="signin()">
      <h2 class="form-signin-heading">Sign In</h2>
      <br>
      <input ng-model="signinform.username" type="Username" id="inputUsername" class="form-control" placeholder="Username" required="" autofocus="">
      <br>
      <input ng-model="signinform.password" type="Password" id="inputPassword" class="form-control" placeholder="Password" required="">
      <br>
      <button class="btn btn-lg btn-success btn-block" type="submit">Sign in</button>
      <hr>
      Don't have an account? <a href="#!/signup">Sign Up</a>
    </form>

  </div>
</div>